#server-response.success {
	color:green;
}
#server-response.error {
	color:red;
}
.form-label-group {
  position: relative;
  margin-bottom: .5rem;
}

.card-footer {
	background: white;
}

.form-label-group>label {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

/*Top border in general*/
.jumbotron {
    padding: 2rem 2rem;
    margin-bottom: 1rem;
    background-color: #e9ecef;
    border-radius: .3rem;
    position: relative;
}

#newUserBackButton {
	position: absolute;
	left: 5px;
	bottom: 5px;
}
